# LDIF - LDAP Data Interchange Format
# Contact information for {{ site.name_long | default(site.name, true) if site is defined else "Organization" }}

{%- if site is defined and site_contact is defined %}
dn: cn={{ site.name_long | default(site.name, true) }},o={{ site.name_legal | default(site.name_long | default(site.name, true), true) }}
objectClass: top
objectClass: organization
objectClass: inetOrgPerson
o: {{ site.name_legal | default(site.name_long | default(site.name, true), true) }}
cn: {{ site.name_long | default(site.name, true) }}
{%- if site_contact.email is defined %}
mail: {{ site_contact.email }}
{%- endif %}
{%- if site_contact.url is defined %}
labeledURI: {{ site_contact.url }}
{%- endif %}
{%- if site_contact.locations is defined and site_contact.locations|length > 0 %}
{%- set loc = site_contact.locations[0] %}
{%- if loc.phone is defined %}
telephoneNumber: {{ loc.phone }}
{%- endif %}
{%- if loc.street is defined %}
street: {{ loc.street }}{% if loc.street_number is defined %} {{ loc.street_number }}{% endif %}

{%- endif %}
{%- if loc.city is defined %}
l: {{ loc.city }}
{%- endif %}
{%- if loc.province is defined %}
st: {{ loc.province }}
{%- endif %}
{%- if loc.postal_code is defined %}
postalCode: {{ loc.postal_code }}
{%- endif %}
{%- if loc.country is defined %}
c: {{ loc.country }}
{%- endif %}
{%- endif %}
{%- if site.summary is defined %}
description: {{ site.summary }}
{%- endif %}
{%- else %}
# No contact information configured.
# Set 'site' and 'site_contact' context variables to generate LDIF data.
{%- endif %}
