BEGIN:VCARD
VERSION:4.0
{#- Organization name -#}
{%- if site is defined %}
FN:{{ site.name_long | default(site.name, true) }}
{%- if site.name_legal is defined %}
ORG:{{ site.name_legal }}
{%- else %}
ORG:{{ site.name_long | default(site.name, true) }}
{%- endif %}
{%- endif %}
{#- Contact information -#}
{%- if site_contact is defined %}
{%- if site_contact.email is defined %}
EMAIL;TYPE=work:{{ site_contact.email }}
{%- endif %}
{%- if site_contact.url is defined %}
URL:{{ site_contact.url }}
{%- endif %}
{%- if site_contact.locations is defined and site_contact.locations|length > 0 %}
{%- set loc = site_contact.locations[0] %}
{%- if loc.phone is defined %}
TEL;TYPE=work,voice:{{ loc.phone }}
{%- endif %}
ADR;TYPE=work:;;{{ loc.street | default("") }}{% if loc.street_number is defined %} {{ loc.street_number }}{% endif %};{{ loc.city | default("") }};{{ loc.province | default("") }};{{ loc.postal_code | default("") }};{{ loc.country | default("") }}
{%- endif %}
{%- endif %}
{#- Social profiles -#}
{%- if social is defined and social|length > 0 %}
{%- for account in social %}
{%- if account.profile is defined and account.profile|length %}
X-SOCIALPROFILE;TYPE={{ account.service | lower }}:{{ account.profile }}
{%- endif %}
{%- endfor %}
{%- endif %}
{#- Additional fields -#}
{%- if site is defined and site.summary is defined %}
NOTE:{{ site.summary | replace("\n", "\\n") }}
{%- endif %}
{%- if vcard is defined %}
{%- if vcard.categories is defined %}
CATEGORIES:{{ vcard.categories | join(",") }}
{%- endif %}
{%- if vcard.logo is defined %}
LOGO:{{ vcard.logo }}
{%- endif %}
{%- if vcard.photo is defined %}
PHOTO:{{ vcard.photo }}
{%- endif %}
{%- if vcard.geo is defined %}
GEO:{{ vcard.geo }}
{%- endif %}
{%- if vcard.tz is defined %}
TZ:{{ vcard.tz }}
{%- endif %}
{%- endif %}
REV:{{ current_year }}0101T000000Z
END:VCARD
