begin:vcard
version:3.0
{%- if site is defined %}
fn:{{ site.name_long | default(site.name, true) }}
n:{{ site.name_long | default(site.name, true) }};;;;
{%- if site.name_legal is defined %}
org:{{ site.name_legal }}
{%- else %}
org:{{ site.name_long | default(site.name, true) }}
{%- endif %}
{%- endif %}
{%- if site_contact is defined %}
{%- if site_contact.email is defined %}
email;internet:{{ site_contact.email }}
{%- endif %}
{%- if site_contact.url is defined %}
url:{{ site_contact.url }}
{%- endif %}
{%- if site_contact.locations is defined and site_contact.locations|length > 0 %}
{%- set loc = site_contact.locations[0] %}
{%- if loc.phone is defined %}
tel;type=work:{{ loc.phone }}
{%- endif %}
adr;type=work:;;{{ loc.street | default("") }}{% if loc.street_number is defined %} {{ loc.street_number }}{% endif %};{{ loc.city | default("") }};{{ loc.province | default("") }};{{ loc.postal_code | default("") }};{{ loc.country | default("") }}
{%- endif %}
{%- endif %}
{%- if site is defined and site.summary is defined %}
note:{{ site.summary | replace("\n", " ") }}
{%- endif %}
rev:{{ current_year }}0101T000000Z
end:vcard
