# Code Owners

## Global

* @swing-collection @scape-agency @vanvianen

## Documentation

README.md   @vanvianen
/docs/      @vanvianen

## Typescript

*.ts        @vanvianen

## Python

*.py        @vanvianen
