# humanstxt.org/


/* TEAM */

    Developer:      Lars van Vianen
    Site:           www.scape.agency
    Email:          info@scape.agency
    Twitter:        @larsvanvianen
    Location:       Amsterdam, Netherlands


/* THANKS */


                            
/* SITE */

    Last Update:    2020/07/01
    Languages:      English
    Standards:      HTML5, CSS3, Javascript
    Components:     Normalize, Modernizr
    Software:       


# humanstxt.org/


/* TEAM */





{%- if developer is defined %}
    Developer:      {{ developer }}
{%- endif -%}
{% if developer is defined %}
    Developer:      {{ developer }}
{%- endif -%}
{% if developer is defined %}
    Developer:      {{ developer }}
{%- endif -%}