dn: cn=John Doe,mail=johnDoe@example.org
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetOrgPerson
objectclass: mozillaAbPersonAlpha
givenName: John
sn: Doe
cn: John Doe
mail: johnDoe@example.org
telephoneNumber: +1-(617)-555-1234
homePhone: +1-202-555-1212
homeStreet: 3 Acacia Avenue
mozillaHomeLocalityName: Hoemtown
mozillaHomeState: MA
mozillaHomePostalCode: 02222
mozillaHomeCountryName: USA
street: 2 Enterprise Avenue
st: NY
postalCode: 01111
c: USA
title: Imaginary test person
company: Example.com Inc.
description: John Doe has a long and varied history, being documented on more police files that anyone else. Reports of his death are alas numerous.








 dn: cn=Jennifer K. Doe, o=University of High
       er Learning, c=US
      cn: Jennifer K. Doe
      cn: Jennifer Doe
      objectclass: person
      sn: Doe
      jpegPhoto:: /9j/4AAQSkZJRgABAAAAAQABAAD/2wBDABALD
       A4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQ
       ERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVG