# Canonical
Canonical: https://www.scape.agency/.well-known/security.txt
Canonical: https://www.scape.agency/security.txt

# Contact
Contact: mailto:info@scape.agency

# Preferred-Languages
Preferred-Languages: en, nl




# Canonical
Canonical: {{ site_contact.site_url }}.well-known/security.txt
Canonical: {{ site_contact.site_url }}security.txt

# Contact
Contact: mailto:{{ site_contact.site_email }}

# Preferred-Languages
Preferred-Languages: en